.main-title {
  font-family: 'Roboto', sans-serif;
  background-color: red;
  color: #000;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.main-title::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: -10px;
  bottom: -10px;
  z-index: -1;
}
